<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title> Todolist</title>
		<script src="插件/vue.js"></script>
	</head>

	<body>
		<div id="app">
			
			<!--v-model可以进行数据的双向绑定-->
			
			<input type="text" v-model="inputValue"  />
			
			<!--v-on用于绑定事件-->
			
			<button v-on:click="handleBtnClick">
			提交
		    </button>
			<ul>
				<!--v-for表示循环list,循环的每一项是item-->
				<li v-for="item in list">{{item}}</li>
			</ul>
		</div>
		<script>
			var app = new Vue({
				el: '#app',
				data: {  //数据控制
					list: [],
					inputValue: ''
				},
				methods: { //方法
					handleBtnClick: function(){
						this.list.push(this.inputValue)
						this.inputValue = ''
						/*alert(this.inputValue)*/
					}
				}
			})
		</script>
	</body>

</html>